/*---------Startside----------*/


/*---General---*/

body {
    margin: 0;
    background-image: url(../images/BackgroundImageIndexLight.jpg);
    background-size: cover;
    background-position: 0vw -25vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


/*--- Main *---*/

#main {
    display: flex;
    margin-top: 5vw;
}


/*--- Room Code ---*/

#room-code-box {
    width: 60vw;
    aspect-ratio: 2/1;
    background-color: rgba(131, 74, 255, 0.5);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.room-code-input {
    margin-top: 2vw;
    text-align: center;
    font-size: 5vw;
    height: 10vw;
    width: 10vw;
}


/*--- Char Select ---*/

#char-select {
    background-color: rgba(255, 255, 255, 0.5);
    width: 20vw;
    aspect-ratio: 1/1;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#char-select-image-box {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 17vw;
    aspect-ratio: 1/1;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 3vh;
}

#char-select-image-image {
    width: 17vw;
}

#char-select-refresh-box {
    width: 4vw;
    margin-left: auto;
    margin-right: auto;
    float: top;
    margin-top: -1.5vh;
}

#char-select-refresh-image {
    width: 4vw;
}

#char-select-username-input {
    width: 50%;
    padding: 4%;
    border: 1px solid #606060;
    border-radius: 0.5em;
    box-sizing: border-box;
    font-size: 1em;
    margin-top: 3vh;
}


/*--- Headline ---*/

:root {
    --fontSizeHeadline: 6vw;
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vw;
    flex-direction: column;
}

.headline-text1 {
    font-weight: bold;
    letter-spacing: 0.73vw;
    font-size: var(--fontSizeHeadline);
    color: #333;
}

.headline-text2 {
    font-weight: bold;
    font-size: var(--fontSizeHeadline);
    color: #f00;
    letter-spacing: 0vw;
    margin-top: -0.5vw;
}


/*--- Textpulse animation ---*/

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.headline-text1,
.headline-text2 {
    animation: pulse 3s ease-in-out infinite;
}