/*---------Lobby----------*/
/*---General---*/
html {
    background: blue;
}

body {
    margin: 0;
    background-image: url(../images/BackgroundImageIndexLight.jpg);
    background-size: cover;
    background-position: 0vw 0vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    width: 100vw;
    height: 100vh;
}



/*--- Main *---*/

#main {
    display: flex;
    margin-top: 5vw;
}

#room-code {
    color: red;
}


/*--- Headline ---*/

:root {
    --fontSizeHeadline: 3vw;
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vw;
    flex-direction: column;
}

.headline-text1 {
    font-weight: bold;
    letter-spacing: 0.73vw;
    font-size: var(--fontSizeHeadline);
    color: #333;
    /*-webkit-text-stroke: #fff 1px;*/
    text-shadow: 0 0 3px #fff ;
}

.headline-text2 {
    font-weight: bold;
    font-size: var(--fontSizeHeadline);
    color: #f00;
    /*-webkit-text-stroke: #fff 1px;*/
    text-shadow: 0 0 1px #fff ;
    letter-spacing: 0vw;
    margin-top: -0.5vw;
}



/*--- Textpulse animation ---*/

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.headline-text1,
.headline-text2 {
    animation: pulse 3s ease-in-out infinite;
}

/*---  Lobby  ---*/

.profile-pic {
    width: 20%;
}

.lobby-flex-container {
    display: flex;
    width: 100vw;
}

.lobby-flex-headline {
    text-align: center;
    font-size: 4vh;
}

#lobby-players-box {
    width: 40vw;
    margin-left: 5vw;
    margin-right: 5vw;
    background: rgba(255, 255, 255, 0.7);
    aspect-ratio: 6/5;
    height: 33.3vw;
}

#lobby-players-box-players {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1vw;
    text-align: center;
    overflow-y: scroll;
}

.player-image {
    width: 5vw;
}

#lobby-gameoptions-box {
    width: 40vw;
    margin-left: 5vw;
    margin-right: 5vw;
    background: rgb(255, 255, 255, 0.7);
    aspect-ratio: 6/5;
}

#looby-flex-gameoptions-room-code {
    text-align: center;
    font-size: 3vh;
    transition: 0.2s all;
}

#looby-flex-gameoptions-room-code #room-code {
    transition: 0.5s all;
}

#looby-flex-gameoptions-room-code #room-code:hover {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    cursor: copy ;
    transition: 0.5s all;
}
#looby-flex-gameoptions-category-box-3{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1vw;
    margin: 2vh;
}
#looby-flex-gameoptions-category-box-5{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-gap: 1vw;
    margin: 2vh;
}

.card {
    width: 20vh;
    aspect-ratio: 1/1;
    border: #fff solid 5px;
    text-align: center;
    overflow: hidden;
    position: relative;
    font-size: 2vh;
}

.more-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 1vh;
    transition: transform 0.5s ease;
    transform: translateY(calc(100% + 1vh)); /* Startet außerhalb des Kartenbereichs */
}

.card:hover .more-text {
    transform: translateY(0);
}
.card:hover {
    cursor: pointer;
}
.category {
    border: #fff solid 5px;
    text-align: center;
    width: 15vh;
    overflow: hidden;
    font-size: 1.5vh;
}
.category:hover{
    cursor: pointer;
}