/*---------Lobby----------*/
/*---General---*/
html {
    background: blue;
}

body {
    margin: 0;
    background-image: url(../images/BackgroundImageIndexLight.jpg);
    background-size: cover;
    background-position: 0vw -25vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}



/*--- Main *---*/

#main {
    display: flex;
    margin-top: 5vw;
}

#room-code {
    color: red;
}


/*--- Headline ---*/

:root {
    --fontSizeHeadline: 6vw;
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vw;
    flex-direction: column;
}

.headline-text1 {
    font-weight: bold;
    letter-spacing: 0.73vw;
    font-size: var(--fontSizeHeadline);
    color: #333;
}

.headline-text2 {
    font-weight: bold;
    font-size: var(--fontSizeHeadline);
    color: #f00;
    letter-spacing: 0vw;
    margin-top: -0.5vw;
}



/*--- Textpulse animation ---*/

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.headline-text1,
.headline-text2 {
    animation: pulse 3s ease-in-out infinite;
}

/*---  Lobby  ---*/

.profile-pic {
    width: 20%;
}

.lobby-flex-container {
    display: flex;
    width: 100vw;
}

.lobby-flex-headline {
    text-align: center;
    font-size: 2em;
}

#lobby-players-box {
    width: 40vw;
    margin-left: 5vw;
    margin-right: 5vw;
    background: rgba(255, 255, 255, 0.7);
    aspect-ratio: 6/5;
    height: 33.3vw;
}

#lobby-players-box-players {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1vw;
    text-align: center;
    overflow-y: scroll;
}

.player-image {
    width: 5vw;
}

#lobby-gameoptions-box {
    width: 40vw;
    margin-left: 5vw;
    margin-right: 5vw;
    background: rgb(255, 255, 255, 0.7);
    aspect-ratio: 6/5;
}

#looby-flex-gameoptions-room-code {
    text-align: center;
    font-size: 3vh;
    transition: 0.2s all;
}

#looby-flex-gameoptions-room-code #room-code {
    transition: 0.5s all;
}

#looby-flex-gameoptions-room-code #room-code:hover {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    cursor: copy;
    transition: 0.5s all;
}

.card {
    --bg: #f7f7f8;
    --hover-bg: #FFE5F4;
    --hover-text: #E50087;
    max-width: 15ch;
    text-align: center;
    background: var(--bg);
    padding: 1.5em;
    padding-block: 1.8em;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: .3s cubic-bezier(.6, .4, 0, 1), transform .15s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    aspect-ratio: 1/1;
}

.card> :not(span) {
    transition: .3s cubic-bezier(.6, .4, 0, 1);
}

.card>strong {
    display: block;
    font-size: 1.4rem;
    letter-spacing: -.035em;
}

.card span {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hover-text);
    border-radius: 5px;
    font-weight: bold;
    top: 100%;
    transition: all .3s cubic-bezier(.6, .4, 0, 1);
}

.card:hover span {
    top: 0;
    font-size: 1.2em;
}

.card:hover {
    background: var(--hover-bg);
}

.card:hover>div, .card:hover>strong {
    opacity: 0;
}