

#char-select{
    background-color: rgba(255, 255, 255, 0.5);
    width: 20vw;
    aspect-ratio: 1/1;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#char-select-image-box{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 17vw;
    aspect-ratio: 1/1;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
#char-select-image-image{
    width: 17vw;
}
#char-select-refresh-box{
    width: 4vw;
    margin-left: auto;
    margin-right: auto;
}
#char-select-refresh-image{
    width: 4vw;
}